<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-overlay="true" data-overlay-opacity="0.35">
    @{ Html.RenderPartial("_MenuSidebar"); }

    @RenderBody()
    @{ Html.RenderPartial("_Modal"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mainbootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
