@model  ArhSite.Models.ContactViewModel
<article id="contact" class="section-wrapper clearfix" data-custom-background-img="/assets/images/background_images/backgroundGrey.jpg">
    <div class="content-wrapper clearfix">
        <h1 class="section-title">Contact</h1>

        <!-- CONTACT DETAILS -->
        <div class="contact-details col-sm-5 col-md-3">
            <p><br />MUN. BRASOV, B-DUL MUNCII NR. 13, AP 1, 500281<br /></p>
            <p>Tel fix: 0268 512 009</p>
            <p>Tel: (+40) 0766 413 990</p>
            <p>Tel: (+40) 0749 855 945</p>
            <p><a href="mailto:contact@arhbv.ro">contact@arhbv.ro</a></p>
        </div>
        <!-- END: CONTACT DETAILS -->
        <!-- CONTACT FORM -->
        <div class="col-sm-7 col-md-9">
            <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "contactform", @class = "form-style validate-form clearfix" }))
            {
                @Html.AntiForgeryToken()
                <!-- form left col -->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "text-field form-control validate-field required", id = "form-name", placeholder = "Full Name" })
                        @Html.ValidationMessageFor(m => m.FullName)

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "text-field form-control validate-field required", id = "form-name", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "text-field form-control validate-field required", id = "form-name", placeholder = "Phone" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div><!-- end: form left col -->
                <!-- form right col -->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message, new { @class = "text-field form-control validate-field required", id = "form-name", placeholder = "Message" })
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                    </div>
                </div><!-- end: form right col -->
            }
        </div><!-- end: CONTACT FORM -->

    </div><!-- .content-wrapper -->

    <div id="messages" class="hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="messages_content">Email trimis cu success</div>
    </div>
    <div id="messages" class="hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="messages_content">S-a produs o eroare!</div>
    </div>
</article><!-- .section-wrapper -->